<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section mdl--conatiner">
    <ul class="mdl-mini-footer__link-list">
      <li><a target="_blank" href="http://facebook.com/ali.haddadkar">Facebook</a></li>
      <li><a target="_blank" href="http://twitter.com/ali_haddadkar">Twitter</i></a></li>
      <li><a target="_blank" href="http://github.com/alihaddadkar">Github</a></li>
      <li><a target="_blank" href="{{site.baseurl}}/feed.xml">Rss</a></li>
    </ul>
    <p class="copyright">© 2016 Ali Haddadkar.</p>
  </div>
</footer>

{% include google_analytics.html %}
