<footer class="footer">
  <div class="container">
      <div class="footer-flex">
        <ul class="footer-social-links">
          <li><a target="_blank" href="{{ site.authors.facebook }}">Facebook</a></li>
          <li><a target="_blank" href="{{ site.authors.twitter }}">Twitter</i></a></li>
          <li><a target="_blank" href="{{ site.authors.linkedin }}">Linkedin</i></a></li>
          <li><a target="_blank" href="{{ site.authors.github }}">Github</a></li>
          <li><a target="_blank" href="{{site.baseurl}}/feed.xml">Rss</a></li>
        </ul>
        <p class="copyright">© 2016 Ali Haddadkar.</p>
      </div>
  </div>
</footer>

{% include google_analytics.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.1/material.min.js"></script>
