<header class="mdl-layout__header flex-center--v">
   <div class="mdl--conatiner mdl--conatiner">

   <nav class="mdl-layout__header-row flex-center--h">

            <button id="blogCategory"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="blogCategory">
                <li disabled class="mdl-menu__item">: موضوعات</li>
               <li class="mdl-menu__item"><a href="{{site.baseurl}}/blog/category/mynotes">یادداشت های شخصی</a></li>
            </ul>

            <a class="mdl-navigation__link" href="{{ site.baseurl }}/index.html">صفحه نخست</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog">بلاگ</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}/about">درباره من</a>

      </nav>
   </div>
</header>
