@font-face {
  font-family: 'samim';
  src: url("../fonts/samim.eot?#") format("eot"),
       url("../fonts/samim.woff") format("woff"),
       url("../fonts/samim.ttf") format("truetype"),
}
@font-face {
  font-family: 'samimB';
  src: url("../fonts/Samim-Bold.eot?#") format("eot"),
       url("../fonts/Samim-Bold.woff") format("woff"),
       url("../fonts/Samim-Bold.ttf") format("truetype"),
}
